* {
    font-family: "Germania One";
  }
  body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background: linear-gradient(150deg, #00BC40 ,#4C3AE3);
  }
  #breakout {
    border-radius: 30px;
  }
  .back {
    width: 100%;
    height: 30px;
   /*  display: flex;
    justify-content: center; */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-column-gap: 2px;
    margin-bottom: 50px;
  }
  a {
    text-decoration: none;
  }
  .home{
    background-color: #DDD101;
    border: 1px solid #DDD101;
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    margin-right: 20%;
    margin-left: 10%;
    width: 60px;
    height: 15px;
    font-size: 20px;
    text-align: center;
    color: white;
  }
  .title {
    width: 100%;
    font-size: 50px;
    text-align: center;
    color: #120E43;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
  }
  #sound {
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 650px;
    left: 32%;
  }
  
  #gameover {
    position: absolute;
    width: 600px;
    height: 600px;
    left: 37%;
    background: transparent;
    /* background: rgba(0, 0, 0, 0.5); */
    display: none;
  }
  @media screen and (max-width: 1000px) {
    #gameover {
      position: absolute;
      width: 600px;
      height: 600px;
      left: 25%;
      background: transparent;
      /* background: rgba(0, 0, 0, 0.5); */
      display: none;
    }
    #sound {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      top: 650px;
      left: 14%;
    }
  }
  #youwon {
    width: 100px;
    position: absolute;
    top: 200px;
    left: 150px;
    display: none;
  }
  
  #youlose {
    width: 400px;
    position: absolute;
    top: 100px;
    left: 0px;
    display: none;
  }
  
  #restart {
    position: absolute;
    top: 310px;
    left: 155px;
    cursor: pointer;
    font-size: 1.25em;
    color: #fff;
    background-color: #DDD101;
    border: 1px solid #DDD101;
    border-radius: 10px;
    padding: 8px;
  }